
#root {
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.startingInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greyTop {
    display: flex;
    top: 0;
    right: 0;
    width: 100%;
    height: 61px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.45);
  }

.landingButtonBox {
    display: flex;
    padding: 30px;
}
  
.footer {
    display:flex;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 183px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.45);
    justify-content: space-between;
    align-items:center;
}

.logo {
    display:flex;
    padding: 40px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 80px;
}

.getInTouch{
    font-family: 'Roboto';
    font-weight: 100;
}

.phoneNum {
    font-size:15px;
    font-weight: normal;
}

