@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&family=Lastica&display=swap");

@font-face {
    font-family: Lastica;
    src: url(./src/assets/fonts/Lastica.ttf);
}

.tagLine {
    display: flex;
    width: 90%;
    min-height: 92px;
    justify-content: center;
    color: black;
    font-size: 40px;
    font-family: Lastica;
    font-weight: 300;
    margin: 0px auto;
    margin-bottom: 2px;
}

.h1 {
    font-family: 'Lastica'; 
}

.getInTouch{
    font-family: "Lastica";
}

.phoneNum {
    font-family: "Lexend Deca";
}

.landingPageSubtitle {
    display: flex;
    width: 40%;
    min-height: 139px;
    color: #797575;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Lexend Deca";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
}

.landingPageHeader { 
    margin-top: 80px;
    width: 100%;
}

.homeNav {
    text-decoration: none; 
    font-family: "Lastica";
    color: #00000061;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 18px;
}

.homeNav:hover {
    color: #00000081;
}

.landingButton {
    display: flex;
    padding: 1rem 7rem;
    margin: 0px auto;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #47EBE2, #3BC4BC);
}

.landingButton:hover {
    background: radial-gradient( #47EBE2, #3BC4BF);
  }

.landingPageHeader {
    justify-content: center;
}

.textFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.textFieldHelper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 10px;
}

.textField {
    width: 30%;
    font-family: "Lexend Deca";
}

.test {
    width: 50ch;
}

@media (max-width: 400px) {
    .textField {
        width: 70%;
    }

    .landingButton {
        background: linear-gradient(to right, #47EBE2, #3BC4BC);
        color: white;
        border: none;
        display: flex;
        padding: 1rem 4rem;
        margin: 0px auto;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
    }
    .landingButton:hover {
        background: radial-gradient( #47EBE2, #3BC4BF);
      }
}

.startingInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


  
.footer {
    display: flex;
    bottom: 0;
    right: 0;
    margin-top: 20px;
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.45);
    justify-content: space-between;
    align-items:center;
}

.logo {
    display:flex;
    max-width: 15rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 2rem;
    padding-left: 0rem;
}

.logoImg {
    width: 100%;
}

.phoneNum {
    font-size: 1rem;
    font-weight: normal;
    color: #5B5A5A;
}

@media (max-width: 374px) {
    .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        padding: 0rem;
    }
}
