@font-face {
    font-family: Lastica;
    src: url(./src/assets/fonts/Lastica.ttf);
}
  
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&family=Lastica&display=swap");

.tagLine {
    display: flex;
    width: 90%;
    min-height: 92px;
    justify-content: center;
    color: black;
    font-size: 40px;
    font-family: Lastica;
    font-weight: 400;
    margin: 0px auto;
    margin-bottom: 20px;
}

.h1 {
    font-family: 'Lastica'; 
}

.getInTouch{
    font-family: "Lastica";
}

.phoneNum {
    font-family: "Lexend Deca";
}

.landingPageSubtitle {
    display: flex;
    width: 36%;
    min-height: 139px;
    color: #797575;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Lexend Deca";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-align: center;
    margin: 0px auto;
    margin-bottom: 1rem;
}

.landingPageHeader { 
    margin-top: 92px;
    width: 100%;
}

.homeNav {
    text-decoration: none; 
    font-family: "Lastica";
    color: #00000061;
    margin-top: 25px;
    font-size: 25px;
}

.landingButton {
    display: flex;
    padding: 1rem 7rem;
    margin: 0px auto;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-weight: 200;
    background: linear-gradient(to right, #47EBE2, #3BC4BC);
}

.landingButton:hover {
    background: radial-gradient( #47EBE2, #3BC4BF);
  }

.landingPageHeader {
    justify-content: center;
}

.textFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textFieldHelper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.textField {
    width: 30%;
    font-family: "Lexend Deca";
}
.test {
    width: 50ch;
}

@media (max-width: 416px) {
    .textField {
        width: 70%;
    }

    .landingButton {
        background: linear-gradient(to right, #47EBE2, #3BC4BC);
        color: white;
        border: none;
        display: flex;
        padding: 1rem 4rem;
        margin: 0px auto;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
    }
    .landingButton:hover {
        background: radial-gradient( #47EBE2, #3BC4BF);
      }
}